.row{
    height: 400px;
    background-color: lightgoldenrodyellow;
}

.index-point {
    width: 25px;
    height: 25px;
    background-color: #dad5d2;
    border: 1px solid black;
    float: left;
    display: inline-block;
    margin: 6px;
    text-align: center;
    font-weight: bold;
    padding: 2px;
}

.index-point-active {
    background-color: #ee100d;
}

.person-shoutout {
    height: 200px;
}

.classmate {
    display: inline;
    border: 5px solid #555;
    border-radius: 1em;
    margin: 0 auto;
    padding: 1.5em auto;
    margin-top: 2em;

}

.classmate h2, .classmate h1{
    display: block;
}
ul {
    margin: 1em auto;
}

.btn {
    margin-top: 5em;
    font-size: 1.5em;
    font-weight: bold;
}

.hidden {
    display:none;
}

